<header>
  <h1 id="title">e-a11y-modal</h1>
  <ModalWindow 
    @modalHeadingText="Modal Title" 
    @buttonText="Login">
    <form>
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label for="input-name">Username</label>
          <input id="input-name" type="text"> 
        </div>
        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
      </fieldset>
    </form>
  </ModalWindow>
</header>

<main>
  {{outlet}}
</main>


<footer>
  <p>
    <small><a href="https://github.com/melsumner/e-a11y-modal">GitHub repo</a> available.</small>
  </p>
</footer>