<header>
<h1 id="title">e-a11y-modal</h1>
</header>
<main>
<ModalWindow 
  @modalHeadingText="Modal Title" 
  @buttonText="Trigger Button">
  <p>A Modal Window a user could put whatever they wanted.</p>
</ModalWindow>


{{outlet}}
</main>